Desktop.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled1.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled4.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled9.ipynb filter=lfs diff=lfs merge=lfs -text
Documents filter=lfs diff=lfs merge=lfs -text
PR_MNIST_test_ex5.png filter=lfs diff=lfs merge=lfs -text
Performance_Measurement.xlsx filter=lfs diff=lfs merge=lfs -text
Untitled12.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled15.ipynb filter=lfs diff=lfs merge=lfs -text
未命名7.ipynb filter=lfs diff=lfs merge=lfs -text
未命名9.ipynb filter=lfs diff=lfs merge=lfs -text
ibt_application.log filter=lfs diff=lfs merge=lfs -text
Downloads filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
PR_MNIST_test_ex2.png filter=lfs diff=lfs merge=lfs -text
PR_MNIST_test_ex4.png filter=lfs diff=lfs merge=lfs -text
Projects filter=lfs diff=lfs merge=lfs -text
Untitled16.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled25.ipynb filter=lfs diff=lfs merge=lfs -text
poly_fitting_ex_2.pdf filter=lfs diff=lfs merge=lfs -text
未命名2.ipynb filter=lfs diff=lfs merge=lfs -text
MNIST_ex1.pdf filter=lfs diff=lfs merge=lfs -text
Untitled.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled26.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled7.ipynb filter=lfs diff=lfs merge=lfs -text
logfile[[:space:]]-[[:space:]]Chapter[[:space:]]3[[:space:]]-[[:space:]]Logical[[:space:]]Expression.txt filter=lfs diff=lfs merge=lfs -text
未命名10.ipynb filter=lfs diff=lfs merge=lfs -text
未命名12.ipynb filter=lfs diff=lfs merge=lfs -text
913361265_Figure1.pdf filter=lfs diff=lfs merge=lfs -text
PR_MNIST_test_ex1.png filter=lfs diff=lfs merge=lfs -text
PR_MNIST_test_ex3.png filter=lfs diff=lfs merge=lfs -text
Stocks.xlsx filter=lfs diff=lfs merge=lfs -text
Untitled10.ipynb filter=lfs diff=lfs merge=lfs -text
poly_noise_ML_ex.pdf filter=lfs diff=lfs merge=lfs -text
未命名18.ipynb filter=lfs diff=lfs merge=lfs -text
acs2017_county_data.csv filter=lfs diff=lfs merge=lfs -text
AirlineStocks.xlsx filter=lfs diff=lfs merge=lfs -text
Applications filter=lfs diff=lfs merge=lfs -text
GM.csv filter=lfs diff=lfs merge=lfs -text
Music filter=lfs diff=lfs merge=lfs -text
Public filter=lfs diff=lfs merge=lfs -text
Untitled14.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled18.ipynb filter=lfs diff=lfs merge=lfs -text
oasys.log filter=lfs diff=lfs merge=lfs -text
未命名.ipynb filter=lfs diff=lfs merge=lfs -text
MNIST_ex_corrupted1.pdf filter=lfs diff=lfs merge=lfs -text
PR_MNIST_test_ex6.png filter=lfs diff=lfs merge=lfs -text
Untitled11.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled2.ipynb filter=lfs diff=lfs merge=lfs -text
logfile[[:space:]]-[[:space:]]Chapter[[:space:]]1[[:space:]]-[[:space:]]R[[:space:]]Basics.txt filter=lfs diff=lfs merge=lfs -text
sample_plt_aug.ipynb filter=lfs diff=lfs merge=lfs -text
stockprices2021.csv filter=lfs diff=lfs merge=lfs -text
未命名1.ipynb filter=lfs diff=lfs merge=lfs -text
Downloads.ipynb filter=lfs diff=lfs merge=lfs -text
Pictures filter=lfs diff=lfs merge=lfs -text
Untitled17.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled27-Copy1.ipynb filter=lfs diff=lfs merge=lfs -text
opt filter=lfs diff=lfs merge=lfs -text
probit_ex.pdf filter=lfs diff=lfs merge=lfs -text
LR_MNIST_test_ex1.pdf filter=lfs diff=lfs merge=lfs -text
Untitled21.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled24.ipynb filter=lfs diff=lfs merge=lfs -text
ibtsa.log filter=lfs diff=lfs merge=lfs -text
poly_error_ex_2.pdf filter=lfs diff=lfs merge=lfs -text
scikit_learn_data filter=lfs diff=lfs merge=lfs -text
summary.txt filter=lfs diff=lfs merge=lfs -text
未命名4.ipynb filter=lfs diff=lfs merge=lfs -text
156[[:space:]]hw2[[:space:]]code.ipynb filter=lfs diff=lfs merge=lfs -text
333.ipynb filter=lfs diff=lfs merge=lfs -text
Desktop filter=lfs diff=lfs merge=lfs -text
Sites filter=lfs diff=lfs merge=lfs -text
Untitled3.ipynb filter=lfs diff=lfs merge=lfs -text
sigmoid_ex.pdf filter=lfs diff=lfs merge=lfs -text
未命名13.ipynb filter=lfs diff=lfs merge=lfs -text
未命名8.ipynb filter=lfs diff=lfs merge=lfs -text
LR_MNIST_training_ex.pdf filter=lfs diff=lfs merge=lfs -text
code.ipynb filter=lfs diff=lfs merge=lfs -text
logfile[[:space:]]-[[:space:]]Chapter[[:space:]]2[[:space:]]-[[:space:]]Vectors.txt filter=lfs diff=lfs merge=lfs -text
未命名15.ipynb filter=lfs diff=lfs merge=lfs -text
MSFT.csv filter=lfs diff=lfs merge=lfs -text
Movies filter=lfs diff=lfs merge=lfs -text
Untitled13.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled20.ipynb filter=lfs diff=lfs merge=lfs -text
leetcode[[:space:]]easy.ipynb filter=lfs diff=lfs merge=lfs -text
未命名16.ipynb filter=lfs diff=lfs merge=lfs -text
未命名6.ipynb filter=lfs diff=lfs merge=lfs -text
F-F_Research_Data_Factors.CSV filter=lfs diff=lfs merge=lfs -text
Untitled19.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled22.ipynb filter=lfs diff=lfs merge=lfs -text
fama.csv filter=lfs diff=lfs merge=lfs -text
未命名3.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled23.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled6.ipynb filter=lfs diff=lfs merge=lfs -text
未命名14.ipynb filter=lfs diff=lfs merge=lfs -text
未命名17.ipynb filter=lfs diff=lfs merge=lfs -text
未命名5.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled27.ipynb filter=lfs diff=lfs merge=lfs -text
Untitled8.ipynb filter=lfs diff=lfs merge=lfs -text
KO[[:space:]]3.csv filter=lfs diff=lfs merge=lfs -text
Untitled5.ipynb filter=lfs diff=lfs merge=lfs -text
poly_noise_bayesian_ex.pdf filter=lfs diff=lfs merge=lfs -text
未命名11.ipynb filter=lfs diff=lfs merge=lfs -text
